input {
  width: 100%;
  border: 1px solid;
  border-radius: 6px;
  border-color: var(--gris-medio);
  background-color: var(--gris-oscuro);
}

.expandible-menu {
  background-color: var(--gris-oscuro);
  border: none;
  padding: 0;
}

/*pseudoclase para enfocar el boton del menú expandible*/

.expandible-menu:focus {
  background-color: var(--gris-oscuro);
  outline: none;
}

/*display none para ocultar el elemento cuya clase es .menu-content*/

.menu-content {
  display: none;
  background-color: var(--gris-oscuro);
}

/*display block y position absolute para el elemento que contiene la clase .menu-content precedida por el 
elemento que contiene la clase .expandible-menu que a su vez tiene la pseudoclase :focus*/

/*hubiese querido lograr que el menú se ubique debajo del header, desplazando todo lo demás,
pero no logré lograr ese logro (?)*/

.expandible-menu:focus + .menu-content {
  display: block;
  position: absolute;
  top: 62px;
  left: 0;
  right: 0;
}

.ul-style {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.li-content {
  padding: 8px 0;
  border-bottom: 1px solid;
  border-bottom-color: var(--gris-medio);
}

/*para todos los hipervínculos precedidos por los elementos que contengan la clase .li-content*/

.li-content a {
  color: #ffffff
}

.main-menu {
  display: none;
  background-color: #ffffff;
}

.specific-button-2:focus + .main-menu {
  display: block;
  position: absolute;
  right: 16px;
  top: 338px;
  width: 160px;
  height: 160px;
  border-radius: 6px;
  border: 1px solid;
  border-color: var(--gris-borde);
  padding: 8px 0;
}

.top-div {
  padding: 8px 16px 16px 16px;
  font-size: 14px;
  border-bottom: 1px solid;
  border-bottom-color: var(--gris-borde);
}

.sub-div {
  padding: 16px 8px 16px 16px;
  font-size: 14px;
}